body {
    padding: 0;
    margin: 0;
    background-color: #000;

}

#logo img {
    width: 22rem;
    text-align: center;

}

a {
    text-decoration: none;
}

button {
    font-size: 16px;
    position: relative;
    margin: auto;
    padding: 1em 2.5em 1em 2.5em;
    border: none;
    background: #fff;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 0.5em rgba(0, 0, 0, 0.1);
    text-align: center;

}

button:active {
    transform: scale(0.1);
}

button span {
    color: #000;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 1.5rem;


}

button .border {
    position: absolute;
    border: 0.15em solid #fff;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

button:hover .border {
    display: block;
}

.full-rounded {
    border-radius: 2em;

}

#opcoes button {
    background-color: #ED7D31;
    display: flex;

}

#opcoes input {
    display: block;
    margin: 0 auto;
    border: 0.15em solid #fff;
    border-radius: 2em;
    text-align: center;
    background-color: #ED7D31;
    height: 2.5rem;
    margin-top: 1rem;
    font-family: 'Calibri';
    font-size: 1.5rem;
    font-weight: bold;
}

#opcoes input:placeholder-shown {
    text-align: center;
    color: #000;
    font-weight: bold;
    text-decoration: none;

}